body {
  background-color: black;
}
#lifts {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
#liftgenerator {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
#topBox {
  display: flex;
  flex-direction: row;
}
#liftSearch {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#edit {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  z-index: 2;
  padding: 12px;
  background-color: brown;
  position: absolute;
}
#editform {
  display: flex;
  flex-direction: row;
}
#edittop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#logout {
  position: absolute;
  left: 0;
  height: 25px;
  align-self: first baseline;
}
#loginpage {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 300px;
  color: white;
}
#loginbuttonbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit;
}
#signuppage {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 250px;
}
